.container {
    margin-top: 10rem;
    margin-left: 14rem;
    
    h1 {
        font-size: 1.3rem;
        font-weight: 600;
    }
   
}

.container2 {
    
    display: flex;
    align-items: center;

    h4 {
        font-size: 0.9rem;
        font-weight: 500;
        border-left: 3px solid #00D2DF;
        padding: 11px;
        text-transform: uppercase;
    }

    h2{
        font-size: 1.2rem;
        font-weight: 500;
        margin: 2rem 3rem;
    }

    h5 {
        font-size: 0.9rem;
        font-weight: 500;
    }
}

.container3 {
    margin:0 2rem 0 17.5rem ;
   

    h5 {
        font-size: 1rem;
        font-weight: 500;
        color: #00D2DF;
        margin-bottom: 1rem;
    }

    p {
        max-width: 500px;
        font-size: 1rem;
        font-weight: 300;
        color: #C4C4C4;
    }

   
}

@media only screen and (max-width: 600px) {

    .container {
        margin-left: 1rem;
    }

    .container3 {
        margin:0 2rem 0 2rem ;
    }
        
       
    
}