.contentContainer {
    
    max-width: 1280px;
    
    
    padding: 0 2rem;
    
    margin-top: 5rem;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 100px;
    align-items: center;
    justify-content: center;


    img {
      margin-left: 12rem;
     width: 200px;
     height: 250px;
    border-left: 5px solid #00D2DF;
     
    }

    .hero {
      margin-left: 7rem;
      margin-top: 1rem;
  
      h1 {
        font-size: 1.3rem;
        font-weight: 600;
        color: #FFFFFF;
        
      }

      h2 {
        font-size: 1.1rem;
        font-weight: 500;
        color: #FFFFFF;
        
      }
    
    
      p {
        font-weight: 300;
        font-size: 1rem;
        line-height: 1.3rem;
        margin-top: 1rem;
        color: #C4C4C4;
        margin-bottom: 1rem;
        
    
      }

      a {
        
        svg {
            width: 20px;
            height: 30px;
            margin-right: 1.5rem;
          }
      }

      button {
        border-radius: 10px;
        padding: 1.5rem;
        font-size: 1rem;
        font-weight: 600;
        margin-top: 1rem;
        margin-right: 1rem;
        padding: 0.5rem 2rem;
        color: white;
        
        border: solid 3px transparent;

        background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #9358F7, #10D7E2);
        background-origin: border-box;
        background-clip: content-box, border-box;
        box-shadow: 2px 1000px 1px black inset;

      

        svg {
          width: 20px;
          height: 25px;
          vertical-align: sub;
        }
        
        svg:first-child {
          margin-right: 1rem; 
        }
      }

     

      
      .button1 {
        border-radius: 10px;
        padding: 1.5rem;
        font-size: 1rem;
        margin-top: 1rem;
        margin-right: 1rem;
        padding: 0.5rem 2rem;
        color: white;
        box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
        border: solid 3px transparent;
        background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #D24074, #6518B4);
        background-origin: border-box;
        background-clip: content-box, border-box;
        box-shadow: 2px 1000px 1px black inset;
        svg {
          width: 20px;
          height: 25px;
          vertical-align: sub;
        }
      }
      button:hover {
        box-shadow: none;
        transition: 0.8s;
        
      }

      
   
    }
    @media only screen and (max-width: 600px) {

     
      .hero {
        margin-left: 1rem;
        margin-top: 1rem;


        h1 {
          font-size: 1.3rem;
          font-weight: 600;
          color: #FFFFFF;
          
        }
  
        h2 {
          font-size: 1.1rem;
          font-weight: 500;
          color: #FFFFFF;
          
        }
      
      
        p {
         
          font-weight: 400;
          font-size: 1rem;
          line-height: 1.3rem;
          margin-top: 1rem;
          color: #C4C4C4;
          margin-bottom: 1rem;
          
      
        }

           button {
          margin-right: 0.5rem;
          padding: 0.5rem 1rem;
          
        }
    
        .button1 {
          margin-right: 0.5rem;
          padding: 0.5rem 1rem;
         
        }

     
      }
  
  
    }

    

  
  }

  
  
  @media only screen and (max-width: 600px) {

    .contentContainer {
      column-gap: 10px;
      padding: 0rem 0rem;
      
      img {
        display: none;
      }


      
    }
    

  }

